* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

header {
  grid-column: 1/3;
}
header h1 {
  background-color: black;
  /*color: rgb(203, 206, 206);*/
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 40px;
}

nav {
  grid-column: 1/3;
}

nav ul {
  display: flex;
  height: 60px;
  background-color: #38219a;
  color: white;
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  align-items: center;
}
nav ul :hover {
  color: #b6b5b5;
}

nav ul li a:hover {
  box-shadow: 0 0 10px 5px #230a94;
}
nav ul li {
  flex: auto;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease;
}

footer {
  grid-column: 1/3;
  background-color: black;
  color: rgb(203, 206, 206);
  font-size: 20px;
  padding: 20px;
  height: 40px;
  text-align: center;
  align-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px auto;
  width: 90%;
  max-width: 1500px;
  padding: 40px;
  gap: 12px;
}

#left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#subsection1 {
  display: flex;
  flex-direction: column;
}

#information {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 90%;
}

h2,
h3 {
  text-align: center;
}

p {
  text-align: center;
  text-justify: auto;
  font-size: 18px;
}

#piero-photo {
  width: 270px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#peru-flag {
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#left-section {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
}

#subsection1 {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

#information {
  padding: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: -17px;
}

#p1 {
  font-size: 20px;
  align-content: center;
}

@media (max-width: 1140px) {
  #information {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 83%;
    align-items: center;
  }
}

#subsection2 {
  background-color: white;
  padding: 10px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -8px;
  margin: 36px;
}

#information2 {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 90%;
  margin-bottom: 0px;
}

#p2 {
  font-size: 20px;
  align-content: center;
}

#span-bandera {
  margin-left: 9%;
  font-style: italic;
  color: rgb(66, 65, 65);
}

@media (max-width: 1140px) {
  #information2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px auto;
    width: 90%;
    align-items: center;
  }
  #span-bandera {
    align-items: center;
  }
}
@media (max-width: 1140px) {
  #span-bandera {
    margin-left: 40%;
  }
}

#right-section {
  grid-column: 2/3;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

#right-section ul {
  margin-top: 25px;
  list-style-type: square;
}
#right-section ul li {
  margin-top: 25px;
}
#right-section ul li a {
  text-decoration: none;
  color: inherit;
  padding: 5%;
  font-size: 22px;
  text-align: start;
}

#right-section ul li a:hover {
  text-decoration: underline;
}
