* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: large;
  }
  
  header {
    background-color: rgb(47, 11, 80);
    color: white;
    text-align: center;
    height: 80px;
    align-content: center;
  }

footer {
    grid-column: 1/3;
    background-color: rgb(47, 11, 80);
    color: white;
    font-size: 20px;
    padding: 20px;
    height: 80px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
  }

main{
    height: 36vw;
    text-align: center;
    margin: 40px;
}

main p,main p span{
    font-size: 30px;
    margin-top: 10px;
}

.countReview{
    color: rgb(8, 8, 247);
}